<!DOCTYPE html>
<html>
	<head>
		<title>Hacker News</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="https://news.ycombinator.com/favicon.ico" />
		<link rel="stylesheet" href="/styles/styles.css" />
		<script type="text/javascript" src="./scripts/api.js"></script>
	</head>
	<body onload="loadData(TOP_STORIES)">
		<div class="topnav">
			<a class="active" href="index.html">top</a>
			<a href="/new.html">new</a>
			<a href="/best.html">best</a>
			<a href="/show.html">show</a>
			<a href="/ask.html">ask</a>
			<a href="/jobs.html">jobs</a>
		</div>
		<div class="content">
			<ul id="list"></ul>
		</div>
	</body>
</html>
