<!DOCTYPE html>
<html>
	<%- include('head') %>
	<body>
		<div class="topnav">
			<a href="/top/0">top</a>
			<a class="active" href="/new/0">new</a>
			<a href="/best/0">best</a>
			<a href="/show/0">show</a>
			<a href="/ask/0">ask</a>
			<a href="/jobs/0">jobs</a>
		</div>
		<%- include('content') %>
	</body>
</html>
