:root {
	--text-color: #dcdcdc;
	--background-color: black;
	font-family: Verdana, Geneva, sans-serif;
}

body {
	margin: 0 auto;
	max-width: 1000px;
	background-color: var(--background-color);
	color: var(--text-color);
}

.topnav {
	overflow: hidden;
	background-color: rgb(187, 75, 0);
}

.topnav a {
	float: left;
	color: var(--background-color);
	padding: 8px 13px;
	text-decoration: none;
	font-size: 16px;
}

.topnav a.active {
	color: var(--text-color);
	text-decoration: underline;
}

ul {
	list-style-type: none;
	margin-right: 6px;
	padding-inline-start: 16px;
}

ul li {
	padding-bottom: 10px;
}

ul li h1 {
	font-size: 18px;
	margin-bottom: 4px;
}

ul li p {
	font-size: 14px;
	margin-top: 0px;
}

a {
	color: var(--text-color);
}

.content {
	color: var(--text-color);
}
